body {
    background-image: url('loopboth.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.h1stats {
    color: rgb(204, 104, 100);
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
    line-height: 80%;
	transform: rotateX(0) rotateY(-25deg);
    width: 500px;
    color: #ff5e00;
    color: #fff;
    text-align: center;
	position: relative; bottom: 5px; left:	1020px;
    text-shadow: 0 0 5px #fff,0 0 5px #fff,0 0 15px #fff,0 0 15px #f30606,0 0 5px #dcffce,0 0 5px #e91515;
}
.h11 {
    font-family: Arial, Helvetica, sans-serif;
      color: #ff5e00;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff,0 0 5px #fff,0 0 15px #fff,0 0 15px #f30606,0 0 5px #dcffce,0 0 5px #e91515;
  font-size: 75px;
}

.div1 {
    color: rgb(255, 0, 0);
	font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative; top: 150px; left: 770px;
    width: 1000px;
    color: #b9dfff;
    color: #fff;
    font-size: large;
    text-shadow: 0 0 5px#fff,0 0 20px#f8f7f7,0 0 10px #070707;
}

.glow-on-hover {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative; bottom: 460px;
      z-index: 0;
      border-radius: 10px;
  }
  
  .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  
  .glow-on-hover:active {
      color: #000
  }
  
  .glow-on-hover:active:after {
      background: transparent;
  }
  
  .glow-on-hover:hover:before {
      opacity: 1;
  }
  
  .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
  }
  
  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
  .center {
    color: rgb(255, 0, 0);
	font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative; top: 150px; left: 770px;
    width: 1000px;
    color: #b9dfff;
    color: #fff;
    font-size: large;
    text-shadow: 0 0 5px#fff,0 0 20px#f8f7f7,0 0 10px #070707;
}
